body {
	padding: 10px;
	background: rgb(13,61,55);
	background: linear-gradient(239deg, rgba(13,61,55,1) 0%, rgba(13,173,160,1) 36%);
 }

h2{
  position: fixed;
  margin-top: 2%;
  margin-left: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h2:hover{
	font-size: 200%;
	transition: 2.3s;
}