.card {
    display:inline-block;
	width: 32%; 
	min-height: 300px;
    background: linear-gradient(330deg, rgba(18,103,93,1) 34%, rgba(34,173,162,1) 100%);
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 15%;
    padding: 2%;
    border: 2px solid #2f2924;
	border-radius: 2%;
	box-shadow: 10px 10px 5px rgba(13,61,55,0.5);
 }


.box {
	width: 60%;
	height: 100px;
	background: #ffece6;
	margin: 20%;
	border: 2px solid #2f2924;
 }

h1{
	color: #1ff6e6;
}

h3 {
	color: #2f2924;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input{
	width: 45%;
}


